.mar{
	margin-left: 2%;
}

.bod{
	background-color: #000;
	background-image: url('../patterns/linepattern.png');
	background-repeat: repeat;
}

.fooo {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fooo input {
  width: 90%;
  height: 30px;
  margin: 0.5rem;
}

.fooo button {
  padding: 0.5em 1em;
  border: none;
  cursor: pointer;
}